<!DOCTYPE html>
<html lang="en">
<head>
<meta property="og:title" content="Botrix | Search for bots" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://botrix.cc/" />
        <meta property="og:image" content="https://media.discordapp.net/attachments/747602999035166810/748399137644609676/logo-alt.png" />
        <meta property="og:description" content="Browse our vast range of bots, you will find the bot right for you, here!" />
        <meta name="theme-color" content="#FF2142">
        <meta name="twitter:card" content="summary">
        <script data-ad-client="ca-pub-9055844767357307" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botrix</title>
    <link rel="stylesheet" href="/assets/css/index.css">
        <link rel="icon" 
      type="image/png" 
      href="https://cdn.discordapp.com/attachments/747602999035166810/757838697080160356/logo_wo_background.png" />
    <script async src="https://arc.io/widget.js#B53NPMmi"></script>
    <link type="text/css" rel="stylesheet" media="all" href="/assets/themes/main.css" id="theme_css" />
    <script src="/js/servers/main.js"></script>
    <link rel="shortcut icon" href="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Botrix</title>
    <script src="/js/nav.js"></script>
</head>
<body onload='onload()'>
    <%- include("templates/bar") %>
    <div style='padding: 100px 70px; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-image: url("https://wallpaperaccess.com/full/1145374.jpg");' style='padding-top: 90px;' class='content'>
        <div class='centered'>
            <h1>Find a cool, new server!</h1>
        </div>
        <div style='padding-top: 30px;' class='centered'>
            <input placeholder='Search' id='search' class='staticSearch'>
        </div>
        <div class='centered'>
            <div class='dropdownHolder' style='z-index: 100;'>
                <div class="filterDropdown"style='float: left; margin-top: 10px;'>
                    <button class="filterBtn">Filter</button>
                    <div class="filterDropdown-content">
                      <a href="/servers/search">High to low votes</a>
                      <a href="/servers/search?filter=lth">Low to high votes</a>
                      <a href="/servers/search?filter=atz">A-Z</a>
                      <a href="/servers/search?filter=zta">Z-A</a>
                    </div>
                  </div> 
                  
            </div>
        </div>
        </div>

        <!--<div id='cardholder' class='cardHolder'>
            <div id='cards'>
                <% for(let i of server) { %>

                    <div class="card" style='background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://wallpapercave.com/wp/wp4462550.png"); background-position: center; background-repeat: no-repeat;'>
                        <% if(i.certified == "approved"){  %>
                            <div class='badgeHolderCards' >
                                <img height='50' class='badgeCard' alt='Botrix Certified' src='https://cdn.discordapp.com/attachments/748340693881192484/760017137351000134/cert-badge.png'>    
                            </div>
                        <% } %>
                        <div class='iconHolder' style='padding: 20px;'>
                            <img src="<%= i.serverIco %>" class="icon">
                        </div>
                        <h3 class="title" class=' right: 10px;'>
                            <%= i.name %>
                        </h3>
                        <p class="desc" style='color: white;'>
                            <%= i.short %>
                        </p>
                        <a class="bot-btns" style="border-color: black; width: auto; max-width: 50%; top: -50px; right: 20px; float: right;" href="/servers/server/<%= i.guildID %>/">View</a>
                        <a class="bot-btns" style="border-color: black; width: auto; max-width: 50%; top: -50px; right: 40px; float: right;" href="<%= i.invite %>">Invite</a>
                        <a class='topTagsCard' style='right: -40px !important;'><%= i.votes %> votes</a>
                    </div>
                <% } %>
            </div>
        </div>-->
        <div id='cards'>
        <div class='homepage-card-holder' style='margin: 0 auto; margin-top: 30px;'>
            <% if(server.length == 0){ %>
            <h2 id='searchErr' style='color: white;'>There was no bots found based on your search query</h2>
            <% } else { %>
                <% for(let i of server) { %>
                <div class="card">
                    <img src='<%= i.bannerURL %>' onerror="this.src = 'https://wallpapercave.com/wp/wp4462550.png'" class='bannerHoler'>
                    <% if(i.certified == "approved"){  %>
                    <div class='badgeHolderCards'>
                        <img height='50' class='badgeCard' alt='Botrix Certified'
                            src='https://cdn.discordapp.com/attachments/748340693881192484/760017137351000134/cert-badge.png'>
                    </div>
                    <% } %>
                    <div class='iconHolder' style='padding: 20px;'>
                        <img src='<%= i.serverIco %>' onerror="this.src = 'https://static.thenounproject.com/png/3358658-200.png'" class="icon">
                    </div>
                    <h3 class="title" class=' right: 10px;'>
                        <%= i.name %>
                    </h3>
                    <div class='tagsHodler'>
                        <a class='topTagsCard'><%= i.votes %> votes</a>
                    </div>
                    <p class="desc" style='color: white;'>
                        <%= i.short %>
                    </p>
                    <a class="bot-btns" href="/servers/server/<%= i.guildID %>/">View Server Info</a>
                    <a class="bot-btns" style="margin-left: 30px;" href="<%= i.invite %>">Join</a>
                </div>
                <% } %>
            <% } %>
        </div>
        </div>
    </div>

    <script>
        var searchBar = document.getElementById('search');
        searchBar.addEventListener('keydown', function(event) {
            if (event.code == 'Enter') {
                window.location = `/servers/search?search=${searchBar.value}`;
            }
        });
    </script>
    <script>var user = <%= user %></script> 
</body>

</html>
