<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript">
    window._mNHandle = window._mNHandle || {};
    window._mNHandle.queue = window._mNHandle.queue || [];
    medianet_versionId = "3121199";
</script>
<script src="https://contextual.media.net/dmedianet.js?cid=8CUK62T44" async="async"></script>
    
    
        <script data-ad-client="ca-pub-8356867505897441" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script data-ad-client="ca-pub-3077639465574966" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script async src="https://arc.io/widget.js#grmefjF9"></script>
        <meta property="og:title" content="Botrix | Discord List" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://botrix.cc/" />
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/747602999035166810/757838697080160356/logo_wo_background.png" />
        <meta property="og:description" content="┃ Welcome to the new generation of discord listing 
        
        ┃ Botrix is the easiest and fastest website to grow your discord bot and discord community!" />
        
        <meta name="theme-color" content="#FCA311">
        <meta name="twitter:card" content="summary">
        <link type="text/css" rel="stylesheet" media="all" href="/assets/themes/main.css" id="theme_css" />
        <meta name="description" content="The easiest and fastest website to grow your discord bot and community! <br> [Join the discord](https://botrix.cc/join)">
        <meta name="author" content="Jenk Scalia">
        <meta name="keywords" content="Botrix, Discord, Discord bot list, Discord server list, list servers, servers, discord bots, discord bot, discord servers">
    
        <script data-ad-client="ca-pub-9055844767357307" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script async src="https://arc.io/widget.js#B53NPMmi"></script>
        <link rel="stylesheet" href="/assets/css/index.css">
        <link rel="shortcut icon" href="">
        <script src="/js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" 
        type="image/png" 
        href="https://cdn.discordapp.com/attachments/747602999035166810/757838697080160356/logo_wo_background.png" />
        <title>Botrix</title>
        <script src="/js/nav.js"></script>
        <script src="/js/include.js"></script>
        <script src="/js/paricles/particles.js"></script>

    </head>
    <body onload='onload()'>
      <!--<div class='header'>
            <div class='headerRes'>
                <a href='https://botrix.cc/'><img class='logo' src='https://cdn.discordapp.com/attachments/747602999035166810/757838697080160356/logo_wo_background.png' width='50px' height='50px'; alt='Botrix'></a>
                <nav>
                    <ul id='nav' class='nav_links'>
                        <li id='aLink1'><a href='/'>Home</a></li>
                        <li id='aLink2' class='aNavLinkDropdown'>
                            <a href='/search'>Search ▼</a>
                            <div class='aNavLinkDropdownContent'>
                                <ul>
                                    <li><a href='/search'>Search Bots</a></li>
                                    <li><a href='/servers/search'>Search Servers</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id='aLink3' class='aNavLinkDropdown' >
                            <a href='/search'>Other ▼</a>
                            <div class='aNavLinkDropdownContent'>
                                <ul>
                                    <li><a href='/tos'>TOS</a></li>
                                    <li><a href='/Privacy'>Privacy Policy</a></li>
                                    <li><a href='/join'>Join</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id='aLink4' class='aNavLinkDropdown'>                            
                            
                            <a href='/search'>Add ▼</a>
                            <div class='aNavLinkDropdownContent'>
                                <ul>
                                    <li><a href='/add'>Add Bot</a></li>
                                    <li><a href='/servers/add'>Add server</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id='aLink4'>                            
                            <a href='/servers'>Servers</a>
                        </li>
                        <% if(user) { %>
                                <div class="dropdown" id='dropdownnav'>
                                    <button class="dropbtn" ><li><a href='/me'>Welcome, <%= user.username %></a></li></button>
                                    <div class="dropdown-content" id='dropdownContent'>
                                        <a href="/me">Portal</a>
                                        <a onclick='changeTheme()'>Change Theme</a>
                                        <a href="/certified">Certification</a>
                                        <a href="/logout">Logout</a>
                                    </div> 
                                </div>                            
                        <% } else { %>
                            <div class="dropdown" id='dropdownnav'>
                                <button class="dropbtn" ><li><a href='/login'>Login</a></li></button>
                                <div class="dropdown-content">
                                    <a onclick='changeTheme()'>Change Theme</a>
                                </div> 
                            </div>         
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    -->

    <%- include("templates/bar") %>

            <div class='homepage'>
                <div class='centered-padding'>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div>
                        <h1><%= user ? `Hey ${user.username},` : "Looking for an amazing bot? We've got you covered!" %></h1>
                        <h2 style='color: white;'><%= user ? "Let's make your server amazing!" : "" %> </h2>
                    </div>
                    <br>
                    <div style="padding-top: 20px;">
                        <input placeholder='Search for a bot...' id='search' class='staticSearch'>
                    </div>
                    <div class='homeTags' style="padding-top: 15px;display: flex;flex-flow: wrap;margin-bottom: 60px; max-width: 600px;" >
                        <% for(let i of tags) { %>                        
                            <div style='padding-left: 10px; padding-top: 10px;'><div class='homeTag' style='text-align: center; width: auto; padding: 10px;'><img src='https://windows.is-big.gay/1lMbu8hcx' style='float: left; padding-right: 10px;' height="25px"><span style='color: white; '><a href='/search?search=<%= i.tag %>'><%= i.tag %></a></span></div></div>
                        <% } %>                    
                    </div>
                    <br>
                </div>
            </div>
        

            <div class='featured'>
                <h1 style='padding: 50px 50px;'><img src='https://i.imgur.com/P9bQtTo.png' style='float: left;' height='50px'>  Featured Bots</h1>
                <div id='cards' class='homepage-card-holder' style='margin: 0 auto;'>
                    <% for(let i of cards) { %>
                        <div class="card">
                            <img src='<%= i.bannerURL %>' onerror="this.src = '<%= i.logo %>' ? 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp4462550.png&f=1&nofb=1' : 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp4462550.png&f=1&nofb=1' " class='bannerHoler'>
                            <% if(i.certified == "approved"){  %>
                                <div class='badgeHolderCards' >
                                    <img height='50' class='badgeCard' alt='Botrix Certified' src='https://cdn.discordapp.com/attachments/748340693881192484/760017137351000134/cert-badge.png'>    
                                </div>
                            <% } %>
                            <div class='iconHolder' style='padding: 20px;'>
                                <img src="<%= i.logo %>" onerror="this.src = 'https://cdn.discordapp.com/embed/avatars/0.png'" class="icon">
                            </div>
                            <h3 class="title" class=' right: 10px;'>
                                <%= i.username %>
                            </h3>
                            <div class='tagsHodler'>
                                <a class='topTagsCard'><%= i.votes %> Votes</a>
                              <% if (i.servers) { %>
				  <a class='topTagsCard'><%= i.servers || "N/A" %> Servers</a>
				<% } %>
				</div>
                            <p class="desc" style='color: white;'>
                                <%= i.description %>
                            </p>
                            <a class="bot-btns" href="/bots/<%= i.botid %>/">View Bot Info</a>
                            <a class="bot-btns"style="margin-left: 30px;" href="<%= i.invite %>">Invite</a>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class='featured'>
                <h1 style='padding: 50px  50px;'><img src='https://i.imgur.com/BXNConv.png' height="50px" style='float: left; padding-right: 15px;'> Trending Bots</h1>
                <div id='cards' class='homepage-card-holder' style='margin: 0 auto;'>
                    <% for(let i of trending) { %>
                        <div class="card" >
                            <img src='<%= i.bannerURL %>'  onerror="this.src = '<%= i.logo %>' ? 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp4462550.png&f=1&nofb=1' : 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp4462550.png&f=1&nofb=1' " class='bannerHoler'>
                            <% if(i.certified == "approved"){  %>
                                <div class='badgeHolderCards' >
                                    <img height='50' class='badgeCard' alt='Botrix Certified' src='https://cdn.discordapp.com/attachments/748340693881192484/760017137351000134/cert-badge.png'>    
                                </div>
                            <% } %>
                            <div class='iconHolder' style='padding: 20px;'>
                                <img src="<%= i.logo %>" onerror="this.src = 'https://cdn.discordapp.com/embed/avatars/0.png'" class="icon">
                            </div>
                            <h3 class="title" class=' right: 10px;'>
                                <%= i.username %>
                            </h3>
                            <div class='tagsHodler'>
                                <a class='topTagsCard'><%= i.votes %> votes</a>
                        	<% if (i.servers) { %>  
                                  <a class='topTagsCard'><%= i.servers || "N/A" %> Servers</a>
                                <% } %>
			</div>
                            <p class="desc" style='color: white;'>
                                <%= i.description %>
                            </p>
                            <a class="bot-btns" href="/bots/<%= i.botid %>/">View Bot Info</a>
                            <a class="bot-btns"style="margin-left: 30px;" href="<%= i.invite %>">Invite</a>
                        </div>
                    <% } %>
                    </div>
                    </div>
                </div>
            </div>  
        </div>
        <br>
        <footer class='footer'>
            <br>
            <br>
            <div class='centered'>
                <br>
                <h3 style='color: white;'>Made with <3 by the Botrix team...</h3>
            </div>
            <div class='centered'>
                <br>
                <p>All rights reserved Botrix 2020<p>
            </div>
            <div class='centered'>
                <br>
                <p><a href='https://twitter.com/botrix_list'>Twitter</a> | <a href='/join'>Discord</a> | <a href='/tos'>TOS</a> | <a href='/Privacy'>Privacy</a> <p>
            </div>
        </footer>
          
    </body>


    <script>
        var searchBar = document.getElementById('search');
        searchBar.addEventListener('keydown', function(event) {
            console.log(event);
            if (event.key == 'Enter') {
                window.location = `/search?search=${searchBar.value}`;
            }
        });
        </script>
        <script>
            var user = "<%= user %>"
    </script>

</html>
