<!DOCTYPE html>
<html lang="en">
<head>
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" media="all" href="/assets/themes/main.css" id="theme_css" />
    <title>Botrix</title>
    <link rel="icon" 
    type="image/png" 
    href="https://cdn.discordapp.com/attachments/747602999035166810/757838697080160356/logo_wo_background.png" />
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="shortcut icon" href="">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script async src="https://arc.io/widget.js#B53NPMmi"></script>
    <script src="/js/bots/user/vote.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <%- include("templates/bar") %>
    <br>
    <br>
    <br>
    
    <h1 class='centered'>Bot queue</h1>
        <div class='centered'>
            <table class="content-table" style='text-align: center;'>
                <thead>
                  <tr>
                    <th>Bot</th>
                    <th>Owner</th>
                    <th>Position</th>
                    <th>Page</th>
                  </tr>
                </thead>
                <tbody>
                    <% let number = 0; %>
                    <% for(i of bots) { %>
                        <tr>
                            <td><%= i.username %></td>
                            <td><%= i.owners %></td>
                            <td><%= number %></td>
                            <td><a href='/bots/<%= i.botid %>/'>View page</a></td>
                        </tr>
                        <% number++; %>
                    <% } %>
                </tbody>
              </table>
        </div>


      <script>
        var user = "<%= user %>"
    </script>
</body>
</html>
